<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">PropertiesConfiguration</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					%d{ISO8601}|%highlight{[%-5level]} %c{1} -%msg%ex{full}%n
				</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	
	<!-- Hibernate is VERY verbose ... the following 2 appenders should be enough -->
	
	<Loggers>
		<Logger name="org.hibernate.SQL" level="debug" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		
		<Root level="info">
	      <AppenderRef ref="Console-Appender" />
	    </Root>
	</Loggers>
</Configuration>